@use "../../app/globals.scss" as *;

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-banner {
  position: absolute;
  top: clamp(14rem, 46vh, 36rem);
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/img/banner-bg-sm.png") no-repeat center top;
  background-size: contain;
  z-index: 3;
}

.bg-lockers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(300px, 70vh, 800px);
  background: url("/img/banner-top.jpg") no-repeat center top;
  background-size: cover;
  z-index: 2;
}

.bg-title {
  content: '';
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  aspect-ratio: 1600 / 600;
  z-index: 3;
}
