@use "./globals.scss" as *;

.landing-container {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/landing/lockers_lg.jpg");
  background-size: 100% 100%;
  background-repeat: repeat;
  background-position: center;

  @media (max-width: $breakpoint-md) {
    background-image: url("/landing/lockers_md.jpg");
  }

  @media (max-width: $breakpoint-sm) {
    background-image: url("/landing/lockers_sm.jpg");
  }
}
